*.tar
*.zip
*.rar
code/
data_deprecated/
data - copy/
extensions/
.deepeval*
/*.json
*.pdf
__pycache__/
/*.py
MATH/
/KoLA/
*cache*
/code
/data/codeEval/data_view.ipynb
/data/codeEval/code_all
*.ipynb
!evaluate_code.ipynb
*.docx
*.tmp
/data/math401/saveExtra/
/data/math401/saveTotal/
/data/math401/extra_10.json
/data/math401/results/*
!/data/math401/results/math*
!/data/math401/results/reverse*